font(font = 'Regular')
    font-family font
html, body
    height 100%
body
    font()
border(width = 1px, color = #919292)
    border width solid color
border-top(width = 1px, color = #919292)
    border-top width solid color
border-right(width = 1px, color = #919292)
    border-right width solid color
border-bottom(width = 1px, color = #919292)
    border-bottom width solid color
border-left(width = 1px, color = #919292)
    border-left width solid color

input, textarea
    display block
    box-sizing border-box
textarea
    padding 10px
    resize none
    height 150px !important
[type="radio"]
    display inline-block
    width auto
img
    width 100%
form img
    display block
    width 200px
.error
    color red
    font-size 12px
h1, h2, h3
    margin 0
.require-field
    color red

.logo
    display inline-block
    width 50px
    a
        padding 0
        &:hover
            background-color transparent
    & + ul
        padding 12.5px 0
.slogan
    padding 15px
    display inline-block
    width inherit
    a
        padding 0
        &:hover
            background-color transparent
