font(font = 'Regular')
    font-family font
html, body
    height 100%
body
    font()
border(width = 1px, color = #919292)
    border width solid color
border-top(width = 1px, color = #919292)
    border-top width solid color
border-right(width = 1px, color = #919292)
    border-right width solid color
border-bottom(width = 1px, color = #919292)
    border-bottom width solid color
border-left(width = 1px, color = #919292)
    border-left width solid color
ul
    margin 0
    padding 0
    font('Italic')
a
    color #919292
    text-decoration none
    &:hover
        text-decoration underline

input, textarea
    width 90%
    margin 10px auto
    display block
    box-sizing border-box
    padding 10px
[type="radio"]
    display inline-block
    width auto
img
    width 100%
form img
    display block
    width 150px
.error
    color red
    font-size 12px
h1, h2
    margin 0
h2
    font-size 18px
    margin 10px 15px
